<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.默认无惨构造创建对象-->
    <!--   <bean id="user" class="com.zlq.model.entity.User">
           <property name="name" value="可比克"/>
       </bean>-->
    <!--2.有参构造方法创建对象：
       01构造函数参数索引：使用下标的方式，index-->
    <!--<bean id="user" class="com.zlq.model.entity.User">
        <constructor-arg  index="0" value="狂神说java"/>
    </bean>-->
    <!--02.构造函数参数类型匹配,不建议使用-->
    <!--<bean id="user" class="com.zlq.model.entity.User">
        <constructor-arg type="java.lang.String" value="通过有参类型"/>
    </bean>-->
    <!--03.直接通过参数名来设置-->
    <!--    <bean id="user" class="com.zlq.model.entity.User">
            <constructor-arg name="name" value="直接通过参数名"/>
        </bean>-->
    <!-- alias：类的别名-->
    <!--    <alias name="user" alias="userNew"/>-->


    <!--  id 是bean的标识符,要唯一,如果没有配置id,name就是默认标识符
       如果配置id,又配置了name,那么name是别名
       name可以设置多个别名,可以用逗号,分号,空格隔开
       如果不配置id和name,可以根据applicationContext.getBean(.class)获取对象;

    class是bean的全限定名=包名+类名   -->

    <bean id="userT" class="com.zlq.model.entity.UserT" name="user2 u3,u4">
        <property name="name" value="ks"/>
    </bean>
</beans>