<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlq.dao.BlogMapper">
    <resultMap id="BlogMap" type="com.zlq.entity.Blog">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addBook" parameterType="blog">
        insert into blog
        values (#{id}, #{title}, #{author}, #{createTime}, #{views});
    </insert>

    <sql id="if-title-author">
        <if test="title !=null">
            title=#{title}
        </if>
        <if test="author !=null">
            and author=#{author}
        </if>
    </sql>

    <select id="queryBlogIf" parameterType="map" resultType="blog">
        select * from blog
        <where>
            <include refid="if-title-author"/>
        </where>
    </select>

    <select id="queryBlogChoose" resultType="blog" parameterType="map">
        select *
        from blog
        <where>
            <choose>
                <when test="title !=null">
                    title=#{title}
                </when>
                <when test="author !=null">
                    and author=#{author}
                </when>
                <otherwise>
                    and views =#{views}
                </otherwise>
            </choose>
        </where>
    </select>
    <!--查询第1,2,3的号记录的博客
    collection:我们现在传一个万能的map，这个map中可以存着一个集合！
    -->
    <select id="queryBlogForeach" resultType="blog" parameterType="map">
        select * from blog
        <where>
            <foreach collection="ids" item="id" open="and (" close=")" separator="or">
                id=#{id}
            </foreach>
        </where>
    </select>

    <update id="updateBlog" parameterType="map">
        update blog
        <set>
            <if test="title !=null">
                title = #{title},
            </if>
            <if test="author !=null">
                author = #{author}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>